.content {
    > .box {
        padding: 15px;
        > .title {
            font-size: 18px;
        }
    }
    .cat {
        padding: 15px;
        &:before {
            content: "Premium Box";
        }
        &:hover {
            background-color: #eee;
        }
    }
}
